{% extends "base.html" %}
{% block content %}
{% load static %}
<h1 xmlns:border="http://www.w3.org/1999/xhtml">Blog</h1>
{% for blog_obj in blog %}
<div>
<p><b>
    {{blog_obj}}</b></p>
    <p>
    {% if blog_obj.cover %}
        <img src="{{ blog_obj.cover.url }}"  style="max-height:200px;width: auto;float: left;margin-right: 1.5em;">
    {% else %}
        <img src="{% static 'img/no-image.png' %}" class="blog-img-post">
    {% endif %}</p>
    <p>{{ blog_obj.content  }}</p>
    <br></br>
</div>
{% endfor %}

{% endblock %}
