{% extends "base.html" %}
{% block content %}
{% load static %}
<h1>Blog</h1>
<p>Thoughts about life: </p>
{% for blog_obj in blog %}
<li><a href="{% url 'blog-detail' %}">
    {{blog_obj}} </a></li>
    {% if blog_obj.cover %}
        <img src="{{ blog_obj.cover.url }}" class="card-img-top">
    {% else %}
        <img src="{% static 'img/no-image.png' %}" class="card-img-top">
    {% endif %}
{% endfor %}
<div>
    <h4>{{ blog.date_created  }} {{ blog.cover }}</h4>
    <hr/>
    <p>{{ blog.description | safe }}</p>
    <hr/>
</div>
{% endblock %}