{% extends "base.html" %}
{% block content %}
{% load static %}

<h1>Lessons list</h1>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; pirmas</a>
            <a href="?page={{ page_obj.previous_page_number }}">atgal</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">pirmyn</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">paskutinis &raquo;</a>
        {% endif %}
    </span>
</div>
{% if lesson_list %}
<div class="row">
    {% for lesson_obj in lesson_list %}
    <div class="col-md4 d-flex align-items-stretch">
        <div class="card mb-4 shadow-sm" style="width: 14rem;">
            {% if lesson_obj.cover %}
                <img src="{{ lesson_obj.cover.url }}" class="card-img-top">
<!--            style="width: 300px;height:200px">-->
            {% else %}
                <img src="{% static 'img/no-image.png' %}" class="card-img-top">
            {% endif %}
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">{{ lesson_obj.teacher }}</h6>
                <p class="card-text"><a class="card-link" href="{{ lesson_obj.id }}">{{ lesson_obj.title }}</a></p>
                {% if lesson_obj.price %}
                   <h6 class="card-subtitle mb-2 text-muted">{{ lesson_obj.price }} €</h6>
                {% else %}
                   <h6 class="card-subtitle mb-2 text-muted">FREE</h6>
                {% endif %}
                <form action="{% url 'book-lesson' %}" method="post">
                {% csrf_token %}
                    <input type="hidden" id="lessonID" name="lessonID" value="{{ lesson_obj.id }}">
                    <input type="submit" value="Book Lesson">
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>It is no lessons </p>
{% endif %}
{% endblock %}