{% extends "base.html" %}
{% block content %}
<h1>Teachers</h1>
<p>Our teachers list of the lessons: </p>
{% for teacher_obj in teachers %}
<li><a href="{% url 'teacher-detail' teacher_obj.id  %}">
    {{teacher_obj}} </a></li>
{% endfor %}
<div class="container puslapiai">
    <nav aria-label="...">
        {% if teachers.has_other_pages %}
            <ul class="pagination pagination-sm justify-content-end">
                {% for i in teachers.paginator.page_range %}
                    {% if teachers.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}teachers.html