{% extends "base.html" %}
{% block content %}
<h1>Your all chosen lessons:</h1>
{% if lessoninstance_list %}
<ul>
    {% for lessoninst_obj in lessoninstance_list %}
    <li class="{% if lessoninst_obj.is_overdue %}text-danger{% endif %}"><a
            href="{% url 'lesson-detail' lessoninst_obj.lesson.pk %}">{{ lessoninst_obj.lesson.title }}</a>
        {{ lessoninst_obj.due_back }}
    </li>
    <p>The status is {{ lessoninst_obj.get_status_display }} </p>
    {% endfor %}
</ul>
{% else %}
<p>At the moment you haven't booked any lessons!</p>
{% endif %}

{% endblock %}